* {
    margin: 0;
}

html {
    height: 100vh;
}

body {
    background: rgb(186, 182, 182);
    width: 100%;
    height: 100%;
}

.caderno {
    position: absolute;
    background: white;
    width: 35%;
    height: 86%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center button {
    margin-top: 5%;
}

.containerTarefas {
    position: relative;
    width: 60%;
    height: 63%;
    top: 3%;
    left: 20%;
    
}

.containerTarefas div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTarefas div p {
    margin-bottom: 2%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.button {
    padding: 2%;
    background: #cfcccc;
}